[submodule "external/rusty_audio"]
	path = external/rusty_audio
	url = https://github.com/dantros/rusty_audio
[submodule "external/nothofagus"]
	path = external/nothofagus
	url = https://github.com/dantros/nothofagus
